In [13]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\lenovo\anaconda3\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd 
from kafka import KafkaConsumer, KafkaProducer
from time import sleep 
import json
from json import dumps

In [53]:
producer = KafkaProducer(bootstrap_servers=['13.49.66.182:9092'],
                         value_serializer=lambda v:
                         dumps(v).encode('utf-8'))

In [57]:
producer.send('kafka', value =" {'000' : 'world'}")

In [56]:
df = pd.read_csv("data/indexProcessed.csv")
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [46]:
df.sample(1).to_dict()

{'Index': {77842: 'NSEI'},
 'Date': {77842: '2013-01-02'},
 'Open': {77842: 5982.600098},
 'High': {77842: 6006.049805},
 'Low': {77842: 5982.0},
 'Close': {77842: 5993.25},
 'Adj Close': {77842: 5993.25},
 'Volume': {77842: 0.0},
 'CloseUSD': {77842: 59.932500000000005}}

In [47]:
df.sample(1).to_dict(orient="records")

[{'Index': 'GSPTSE',
  'Date': '1993-12-23',
  'Open': 4233.899902,
  'High': 4246.5,
  'Low': 4232.399902,
  'Close': 4246.399902,
  'Adj Close': 4246.399902,
  'Volume': 59910000.0,
  'CloseUSD': 3524.51191866}]

In [48]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'GSPTSE',
 'Date': '2003-03-04',
 'Open': 6466.899902,
 'High': 6472.5,
 'Low': 6415.600098,
 'Close': 6422.299805,
 'Adj Close': 6422.299805,
 'Volume': 11097700000.0,
 'CloseUSD': 5330.508838149999}

In [60]:
while True:
    dict_stock=df.sample(1).to_dict(orient="records")[0]
    producer.send('kafka', value =dict_stock)
    sleep(1)

KeyboardInterrupt:

In [51]:
producer.flush() #to delete all the data already arrived from the producer